.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/discord.xml
.idea/workspace.xml
.idea/aws.xml

.gradle
build/
target/
.volumes/ssh/id_rsa
.volumes/ssh/known_hosts.dat
.volumes/**/*volume/
.env
