.form-select:focus,
.form-control:focus,
.pagination > li > .page-link:focus {
  border-color: var(--bs-gray-dark);
  box-shadow: none;
}

.dropdown-menu .dropdown-item:active {
  background-color: var(--bs-gray-dark);
}

.nav-link,
.nav-link:hover,
.pagination > li > .page-link,
.pagination > li > .page-link:focus,
.pagination > li > .page-link:hover {
  color: var(--bs-gray-dark);
}

.pagination > li.active > .page-link {
  color: var(--bs-light);
  background: var(--bs-gray-dark);
  border-color: var(--bs-gray-dark);
}

.alert {
  padding: 10px 50px 10px 15px;
}

.alert-dismissible .btn-close {
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 10px !important;
  padding: 5px !important;
}
